body{
background-color: #edeaee;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23205a43' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#left h2, h5{
	text-align: left;
}

p{
	text-align: justify;
}

h1, h2, h3, h4, h5, p{
	background-color: aliceblue;
}

.btn-small {
	margin: 0 5px 10px 0;
	float: inherit;
}


