body { 
    opacity: 0;
    transition: opacity 5s;
    -webkit-transition: opacity 2s; /*Chrome, Safari*/
       -moz-transition: opacity 2s; /*Mozilla Firefox*/ 
        -ms-transition: opacity 2s; /*Microsoft Internet Explorer, Microsoft Edge*/
         -o-transition: opacity 2s; /*Opera*/
            transition: opacity 2s;
	
	font-family: 'Raleway', serif;
	font-size: 12px;
	background-color: #FFEBD6; /*manila*/
	
}

/* Main navbar */
.nav-wrapper{
	font-family: 'Raleway', serif;
	letter-spacing: 0.1rem;
	background-color: #0A3F7B;
}

.nav-wrapper .brand-logo {
	width: 20rem;
	font-family: 'Raleway','Lora', 'PT Serif', serif;
	text-align: center;
}

.nav-wrapper a{
	color: #FFF;
	margin: 0 1rem;
}

.nav-wrapper a:hover{
	margin: 0 1rem;
	text-decoration: none;
}

/* Mobile navbar */
.sidenav li>a {
	color: #0A3F7B;
	font-family: 'Raleway','Lora', 'PT Serif', serif;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.sidenav li>a:hover {
	color: #800000;
}

/* Container holding the image and the text */
.container-img {
    position: relative;

}

/*Center text over the image*/
.centered{
	text-align: center;
    color: white;
	font-family: 'Abril Fatface';
	font-size: 2.5rem;
	width: 100%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.25rem;
}

#name {
	font-family: 'Abril Fatface', serif;
	color: #800000; /*dark red*/
}

.intro {
	font-family: 'Lora', 'PT Serif', serif;
	font-size: 1.75rem;
	font-weight: 500;
	color: #0A3F7B; /*dark blue*/
}

#project{
	font-family: 'Abril Fatface', 'Crimson Text', 'PT Serif', serif;
/*	font-weight: 500;*/
/*	font-size: 2.5rem;*/
	color: #0A3F7B; /*dark blue*/
	margin: 0;
}

.projectTitle {
	font-family: 'Abril Fatface', 'Crimson Text', 'PT Serif', serif;
	font-weight: 500;
	font-size: 2.5rem;
	color: #800000; /*dark red*/
	margin-bottom: 0.75rem;
	margin-top: 0.5rem;
}

div.chip{
	font-weight: 700;
	margin: 0.25rem 0.1rem;
	float: right;
	height: 2rem;
	letter-spacing: 0.1rem;
}

#contact{
	font-family: 'Abril Fatface', 'Crimson Text', 'PT Serif', serif;
	color: #0A3F7B; /*dark blue*/
	margin: 0;
}


.icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact{
	font-size: 1.5rem;
	text-align: center;
}

hr {
	height: 0.05rem;
	background-color: #0A3F7B; /*dark blue*/
}

p {
	text-align: justify;
	text-justify: inter-character;
	font-size: 1.5rem;
	line-height: 2.5rem;
	
}

a { /*link*/
	color: #800000; /*dark red*/
	font-weight: 600;
}

a:hover { /*mouse over link*/
	color: #129DF1; /*light blue*/
	font-weight: 500;
	text-decoration: underline;
}

.btn, .btn:visited, .btn:active, .btn:focus{
	margin: 0 5px 10px 0;
	font-size: 1.1rem;
	font-weight: 500;
	color: #FFF; /*white*/
	background-color: #0B488E; /*dark blue*/
}

.btn:hover { /*mouse over button*/
	color: #FFF; /*white*/
	background-color: #129DF1; /*light blue*/
	text-decoration: none;
}