body{
	font-family: 'Song Myung', serif;
}

button{
	font-family: 'Song Myung', serif;
	font-weight: 500;
}

label[for=new_item]{
	font-size: 20px;
}

.item-text{
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.item-check{
	color: #26A69A; /*Teal*/
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.item-remove{
	color: #26A69A; /*Teal*/
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

.counter{
	text-transform: uppercase;
	font-size: 20px;
}

span.badge{
	color: #FFF; /*White*/
	font-size: 20px;
	font-weight: 500;
}
